* {
  font-family: "IBM Plex Sans", sans-serif;
  color: #423e3e;
  font-size: 20px;
}

h1 {
  font-size: 45px;
  padding: 30px;
  color: #3b3636;
}

h2 {
  font-size: 30px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20 px;
  box-sizing: border-box;
  text-align: center;
}

.form {
  background-color: rgb(201, 191, 149);
  border-radius: 7px;
  padding: 30px;
}

.form__input {
  border: 2.5px solid rgb(118, 237, 100);
  background-image: linear-gradient(
    to right,
    rgb(216, 240, 207),
    rgb(116, 154, 116)
  );
  border-radius: 7px;
  margin: 5px;
}

.error {
  border: 2.5px solid rgb(245, 76, 76);
  background-image: linear-gradient(
    to right,
    rgb(230, 188, 195),
    rgb(149, 134, 128)
  );
  border-radius: 7px;
}

.error-message {
  margin: 20px;
}
